:root {
    --primary-font-family: "Roboto", sans-serif;
    /** Общие переменные **/
    --font-weight-bold: 700;
    --font-weight-semibold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;

}